<p id="notice"><%= notice %></p>

<%= render "/profle/show" %>

<%= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-primary" %> |
<%= link_to 'Back', profiles_path, class:"btn btn-primary" %>

