
<p id="notice" class="alert" role="alert"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Qualifications</h1>
    <%= link_to 'New Qualification', new_qualification_path, class: "btn btn-primary" %>
</div>


<%= render "/qualifications/index" %>

