	<!--begin::Row-->
	<div class="row">
		<div class="col-lg-6">
			<!--begin::List Widget 14-->
			<%= render "/qualifications/index2", {qualifications: @user.qualifications} %>			
			<!--end::List Widget 14-->
		</div>
		<div class="col-lg-6">
			<!--begin::List Widget 10-->
			<%= render "/user_docs/index2", {user_docs: @user.user_docs} %>
			<!--end: List Widget 10-->
		</div>
	</div>
	<!--end::Row-->
									